body {
  background-color: #f2f2f2;
}

.container {
  border: 2px solid red;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2, 200px);
  justify-content: center;
}

.item {
  text-align: center;
  background-color: skyblue;

  grid-column: 3 / 4;
  grid-row: 2 / 3;

  /* grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 2;
  grid-row-end: span 2; */
}
